In [1]:
import numpy as np
import pandas as pd
from sympy import *
import sympy as sp
from scipy.integrate import odeint
from scipy.integrate import solve_ivp
import matplotlib.pyplot as plt

In [2]:
import bpy
import math 


class Particle():
    def __init__(self, name, position, momentum = None, charge = None):
        self.name = name
        self.position = position
        self.momentum = momentum
        self.charge = charge
    
    
    
    
class Sphere(Particle):
    def __init__(self, name, position, momentum = None, charge = None, scale = (1, 1, 1), radius = 1):
        super().__init__(name, position, momentum, charge) 
        self.scale = scale
        self.radius = radius
        
    
    def create(self, location = (0,0,0)):
        bpy.ops.mesh.primitive_uv_sphere_add(radius = self.radius, enter_editmode = False, align = 'WORLD', location = location, scale = self.scale)
        bpy.context.object.name = self.name
        
        
    def move(self, location = (0,0,0)):
        bpy.data.objects[self.name].location = location
        
        
    def keyframe(self,frame, data_path = 'location'):
        bpy.data.objects[self.name].keyframe_insert(
        data_path = data_path,
        frame = frame
    )
                
    
    
s1 = Sphere('allison', (0,0,0))
s1.create(s1.position)
s1.keyframe(0)
s1.move((10,0,0))
s1.keyframe(100)

ModuleNotFoundError: No module named 'bpy'

In [5]:
bpy.ops.mesh.primitive_cube_add()

cube = bpy.context.object

print(cube.location)




for i in range(3):
    locals()[f'cube{i}']=i
    
print(cube2)





import bpy

for x in range(10):
    bpy.ops.mesh.primitive_cube_add()
    bpy.data.objects['Cube'].name = f'cubo{i}'
    bpy.context.object.location = (2*x,0,0)

    
    
import bpy
from random import randint

bpy.ops.mesh.primitive_cube_add()

cena = bpy.context.scene
cena.frame_start = 0
cena.frame_end = 100

cube = bpy.context.object
for x in range(10):
    cube.location.x = x
    cube.location.y = x
    cube.keyframe_insert(
        data_path='location',
        frame=x*10
    )

NameError: name 'bpy' is not defined

In [3]:
df = pd.read_csv('/home/allison/Documents/facul/computacional/código/output_01.txt', delimiter = '\s+')
df

           r1x       r1y       r2x       r2y       r3x       r3y      t
0    -1.000000  0.000000  1.254954  0.000000  2.745046  0.000000   0.00
1    -0.999993 -0.003660  1.254945  0.004594  2.745028  0.010048   0.01
2    -0.999973 -0.007321  1.254920  0.009187  2.744973  0.020095   0.02
3    -0.999940 -0.010981  1.254878  0.013780  2.744881  0.030143   0.03
4    -0.999893 -0.014641  1.254819  0.018374  2.744752  0.040190   0.04
...        ...       ...       ...       ...       ...       ...    ...
1796 -0.958019 -0.286721  1.202313  0.359810  2.629762  0.787075  17.96
1797 -0.956963 -0.290226  1.200988  0.364208  2.626863  0.796695  17.97
1798 -0.955894 -0.293727  1.199647  0.368602  2.623929  0.806305  17.98
1799 -0.954813 -0.297224  1.198291  0.372990  2.620960  0.815905  17.99
1800 -0.953718 -0.300717  1.196918  0.377374  2.617955  0.825493  18.00

[1801 rows x 7 columns]

In [21]:
class Particle():
    def __init__(self, name, position = None, rotation = None, scale = None, momentum = None, charge = None):
        self.name = name
        self.position = position
        self.rotation = rotation
        self.scale = scale 
        self.momentum = momentum
        self.charge = charge
    
    
    
    
class Sphere(Particle):
    def __init__(self, name, position = (1,1,1), momentum = None, charge = None, scale = (1, 1, 1), radius = 1):
        super().__init__(name = name, position = position, scale = scale, momentum = momentum, charge = charge) 
        self.radius = radius
        
    
particle1 = Sphere('allison', charge=5, momentum= 10)
print(particle1.position)

ok

'eduardo'

In [5]:
r1x = []
for i in df['r1x']:
    r1x = np.concatenate((r1x,[i]))
    
r1x

array([-1.        , -0.9999933 , -0.9999732 , ..., -0.95589409,
       -0.95481258, -0.95371829])

In [29]:
df[['r1x', 'r1y']]

           r1x       r1y
0    -1.000000  0.000000
1    -0.999993 -0.003660
2    -0.999973 -0.007321
3    -0.999940 -0.010981
4    -0.999893 -0.014641
...        ...       ...
1796 -0.958019 -0.286721
1797 -0.956963 -0.290226
1798 -0.955894 -0.293727
1799 -0.954813 -0.297224
1800 -0.953718 -0.300717

[1801 rows x 2 columns]

In [12]:
def func_args2(arg1, *args, arg2):
    print('arg1: ', arg1)
    print('arg2: ', arg2)
    print('args: ', args)

# func_args2(0, 1, 2, 3, 4)
# TypeError: func_args2() missing 1 required keyword-only argument: 'arg2'
        
func_args2(0, 1, 2, 3, arg2=4)
# arg1:  0
# arg2:  4
# args:  (1, 2, 3)

arg1:  0
arg2:  4
args:  (1, 2, 3)

In [19]:
df['t'].le

1801

In [2]:
for i in range(2,df['t'].size):
    print(i)

NameError: name 'df' is not defined

In [11]:
 
        
class Scene():
    def __init__(self, format = 12, collection = 'Collection', position = None, rotation = None, scale = None, momentum = None, charge = None):
        self.collection = collection 
        self.format = format
        self.position = position
        self.rotation = rotation
        self.scale = scale 
        self.momentum = momentum
        self.charge = charge
        
scene = Scene()
scene.format

12